<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Winterkonferenz</h3>
            <p>
            Die Winterkonferenz ist das neue jährliche Treffen der Digitalen
            Gesellschaft: Am Samstag, 24. Februar 2018 kommen zum ersten mal
            AktivistInnen und Interessierte im Zentrum Karl der Grosse in Zürich
            zusammen, um sich zu den Themen rund um Informationstechnologie, der
            Vernetzung und deren Auswirkungen auf unsere Gesellschaft auszutauschen.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Planung</h3>
            <p>
            Am Nachmittag stehen (nach aktueller Planung) 16 Vorträge und Workshops
            à 30 und 60 Minuten auf dem Programm. Gerne nehmen wir auch deinen
            Vorschlag entgegen. Bitte sende uns eine möglichst aussagekräftige
            Beschreibung bis zum Sonntag 5. Dezember zu.
            </p>
        </div>
    </div>
</div>

<!-- <section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Lorem Ipsum</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus risus quis posuere porta. Donec blandit bibendum nulla, eu dignissim sem scelerisque non. Etiam eget pharetra mauris. Phasellus vulputate turpis non diam maximus elementum. Aenean nulla lorem, mattis nec sem.
        </p>
    </div>
</section> -->
