<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Lorem ipsum</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus risus quis posuere porta. Donec blandit bibendum nulla, eu dignissim sem scelerisque non. Etiam eget pharetra mauris. Phasellus vulputate turpis non diam maximus elementum. Aenean nulla lorem, mattis nec sem.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Lorem ipsum</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus risus quis posuere porta. Donec blandit bibendum nulla, eu dignissim sem scelerisque non. Etiam eget pharetra mauris. Phasellus vulputate turpis non diam maximus elementum. Aenean nulla lorem, mattis nec sem.
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the U.S. and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
    </div>
</section>
