{% extends "layouts/dashboard.twig" %}
{% block content %}
    <!-- page-id: user/create -->
    <h2 class="headline">Speakerprofil erstellen</h2>
    <p>Ein vollständiges profil hilft uns bei der Auswahl der Vorträge.</p>
    {% include 'forms/_user.twig' %}
{% endblock %}
